.authForm {
  color: white;
  width: 350px;
  background-color: #242526;
  border-radius: 12px;
  box-shadow: 0 1px 4px black;
  padding: 10px 20px;
  margin: 10px auto;
}
@media only screen and (max-width: 420px) {
  .authForm {
    width: 80%;
  }
}
.action {
  margin-bottom: 5px;
}
.switch {
  padding: 10px 0;
  text-align: center;
  margin: 10px 0;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.9rem;
}
.switch:hover {
  background-color: #4e4f50;
}
.google button {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.google button:hover {
  border: 1px solid red;
  box-shadow: 0px 1px 6px black;
}
.google img {
  height: 20px;
  margin-right: 10px;
}
