.modal {
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}
.modal a {
  text-decoration: none;
}
.modalContent {
  padding: 10px 0;
  color: white;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}
.modalContent img {
  height: 20px;
  margin-right: 10px;
}
.modalContent:hover {
  background-color: #3a3b3c;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
